root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf

[{appsettings.json,appsettings.*.json}]
charset = utf-8-bom
indent_style = space
indent_size = 4

[*.cs]
indent_style = space
indent_size = 4
