name: Release

# add or update actions binaries and commit

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-release
  cancel-in-progress: true

on:
  release:
    types: [published]
  workflow_dispatch: # for debug usage
    inputs:
      tag:
        description: "Released tag"
        required: true
        default: ""

jobs:
  build:
    permissions:
      contents: read
    env:
      VERSION: ${{ inputs.tag || github.ref_name }}
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Load secrets
        id: op-load-secret
        uses: 1password/load-secrets-action@13f58eec611f8e5db52ec16247f58c508398f3e6 # v3.0.0
        with:
          export-env: false
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN_PUBLIC }}
          ACTIONBOT_PRIVATE_KEY: "op://${{ vars.OP_VAULT_ACTIONS_PUBLIC }}/GITHUB_ACTIONS_BOT/private key"
          ACTIONBOT_APPID: "op://${{ vars.OP_VAULT_ACTIONS_PUBLIC }}/GITHUB_ACTIONS_BOT/appid"
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ steps.op-load-secret.outputs.ACTIONBOT_APPID }}
          private-key: ${{ steps.op-load-secret.outputs.ACTIONBOT_PRIVATE_KEY }}
          permission-contents: write
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: Cysharp/Actions/.github/actions/setup-dotnet@main
        with:
          dotnet-version: 9.0.x
      - name: dotnet publish (x64)
        run: dotnet publish ./src/CysharpActions -c Release --runtime linux-x64 -o ./actions/Linux-X64 -p:Version="${VERSION}"
      - name: dotnet publish (arm64)
        run: dotnet publish ./src/CysharpActions -c Release --runtime linux-arm64 -o ./actions/Linux-ARM64 -p:Version="${VERSION}"
      - name: list files
        run: ls -lR ./actions/
      - name: Check update on git
        id: check_update
        run: git diff --exit-code || echo "changed=1" | tee -a "$GITHUB_OUTPUT"
      - name: Commit and push files (add/updated? = ${{ steps.check_update.outputs.changed == '1' }})
        if: ${{ steps.check_update.outputs.changed == '1' }}
        id: update
        run: |
          git remote set-url origin "https://github-actions:${GITHUB_TOKEN}@github.com/${{ github.repository }}"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

          git add -A
          git commit -m "[automate] New CysharpActions.exe committed" -m "Commit by [GitHub Actions](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})"

          git push origin "${BRANCH_NAME}"
          echo "commited=1" | tee -a "$GITHUB_OUTPUT"
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          BRANCH_NAME: ${{ github.event_name == 'pull_request' && github.head_ref || github.ref }}
