name: Test benchmark-runnable

on:
  pull_request:
    branches: ["main"]
  issue_comment:
    types: [created]

jobs:
  test:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: ./.github/actions/benchmark-runnable
        id: result
        with:
          username: foo
      - uses: ./.github/actions/benchmark-runnable
        id: result2
        with:
          username: mayuki
      - name: Test
        run: |
          echo "DEBUG: check-metas: ${{ steps.result.outputs.authorized }}"

          echo -n "FACT: foo is not allowed. "
          if [[ "${{ steps.result.outputs.authorized }}" != "true" ]]; then echo "[O PASS]"; else echo "::error::[X FAIL]" && exit 1; fi
          echo -n "FACT: mayuki is allowed. "
          if [[ "${{ steps.result2.outputs.authorized }}" == "true" ]]; then echo "[O PASS]"; else echo "::error::[X FAIL]" && exit 1; fi
