name: (R) Actions timeline

on:
  workflow_call:
    secrets:
      github-token:
        description: 'GitHub Token'
        required: true

jobs:
  actions-timeline:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 1
    steps:
      - uses: Kesin11/actions-timeline@e018cfefea60b4f44266998551211a35a58b8097 # v3.0.0
        with:
          github-token: ${{ secrets.github-token }}
          show-waiting-runner: true
