name: (R) create-release

on:
  workflow_call:
    inputs:
      commit-id:
        description: "commit id to craete release, tag"
        required: true
        type: string
      tag:
        description: "git tag you want create. (sample 1.0.0)"
        required: true
        type: string
      push-tag:
        description: "true = push tag. false = no push tag."
        required: false
        type: boolean
        default: false
      # nuget
      nuget-push:
        description: "true = upload nuget package. false = not upload"
        required: false
        type: boolean
        default: false
      nuget-path:
        description: "nuget path to upload."
        required: false
        type: string
        default: "./nuget/*.nupkg"
      # unity
      unitypackage-upload:
        description: "true = upload unitypackage. false = not upload"
        required: false
        type: boolean
        default: false
      unitypackage-name:
        description: "unitypackage name to uploaded."
        required: true
        type: string
      unitypackage-path:
        description: "unitypackage path to upload."
        required: true
        type: string
      dry-run:
        description: "true = no upload. false = dry run changes."
        required: true
        type: boolean

jobs:
  create-relase:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: Cysharp/Actions/.github/actions/setup-dotnet@main
        if: ${{ inputs.nuget-push }}

      # Create Tag
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.push-tag && inputs.commit-id }}
        if: ${{ inputs.push-tag }}
      - name: Create Tag
        run: git tag ${{ inputs.tag }}
        if: ${{ inputs.push-tag }}
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
          tags: ${{ inputs.push-tag }}
        if: ${{ !inputs.dry-run && inputs.push-tag }}

      # Download(All) Artifacts to current directory
      - uses: actions/download-artifact@v3
      - name: Show download aritifacts
        run: ls -lR

      # Create Releases
      - uses: actions/create-release@v1
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ inputs.tag }}
          release_name: Ver.${{ inputs.tag }}
          commitish: ${{ inputs.commit-id }}
          draft: true
          prerelease: false
        if: ${{ !inputs.dry-run}}

      # Upload to NuGet
      - run: dotnet nuget push "${{ inputs.nuget-path }}" --skip-duplicate -s https://www.nuget.org/api/v2/package -k "${{ secrets.NUGET_KEY }}"
        if: ${{ !inputs.dry-run && inputs.nuget-push }}

      # Upload to Releases(unitypackage)
      - uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_name: ${{ inputs.unitypackage-name }}
          asset_path: ${{ inputs.unitypackage-path }}
          asset_content_type: application/octet-stream
        if: ${{ !inputs.dry-run && inputs.unitypackage-upload }}
