name: (R) Close Stale issues and PRs

on:
  workflow_call:

jobs:
  stale:
    permissions:
      contents: read
      pull-requests: write
      issues: write
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - uses: actions/stale@b5d41d4e1d5dceea10e7104786b73624c18a190f # v10.2.0
        with:
          # enable issue
          stale-issue-message: "This issue is stale because it has been open 180 days with no activity. Remove stale label or comment or this will be closed in 30 days."
          stale-issue-label: "stale"
          # enable pr
          stale-pr-message: "This PR is stale because it has been open 180 days with no activity. Remove stale label or comment or this will be closed in 30 days."
          stale-pr-label: "stale"
          days-before-stale: 180
          days-before-close: 30
          exempt-issue-labels: "wip"
          exempt-pr-labels: "wip"
          remove-stale-when-updated: true
