name: Test setup-dotnet

on:
  workflow_dispatch: null
  pull_request:
    branches: ["main"]

jobs:
  test:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: ./.github/actions/setup-dotnet
      - name: Test
        run: |
          dotnet --list-sdks | grep "6.0"
          dotnet --list-sdks | grep "7.0"
          dotnet --list-sdks | grep "8.0"
          dotnet --list-sdks | grep "9.0"
          dotnet --list-sdks | grep "10.0"
