name: (R) Update package.json

on:
  workflow_call:
    inputs:
      file-path:
        description: "package.json path to update. You can input multiline paths."
        required: true
        type: string
      tag:
        description: "git tag you want create. (sample 1.0.0)"
        required: true
        type: string
      dry-run:
        description: "true to simularate commit but not push change."
        required: true
        type: boolean
      push-tag:
        description: "true = push tag. false = no push tag."
        required: false
        type: boolean
        default: true
      ref:
        description: "checkout ref"
        required: false
        type: string
        default: ${{ github.ref }}
    outputs:
      sha:
        description: "Git commit sha after package.json has changed."
        value: ${{ jobs.update-packagejson.outputs.sha }}
      branch-name:
        description: Git branch name created.
        value: ${{ jobs.update-packagejson.outputs.branch-name }}
      is-branch-created:
        description: Indicate is Git branch created or not.
        value: ${{ jobs.update-packagejson.outputs.is-branch-created }}

jobs:
  update-packagejson:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      sha: ${{ steps.commit.outputs.sha || '' }}
      branch-name: ${{ steps.configure.outputs.branch-name }}
      is-branch-created: ${{ steps.configure.outputs.is-branch-created }}
    steps:
      - name: Configure Output variables
        id: configure
        run: |
          echo "branch-name=test-release/${{ inputs.tag }}" | tee -a "$GITHUB_OUTPUT"
          echo "is-branch-created=${{ inputs.dry-run }}" | tee -a "$GITHUB_OUTPUT"

      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}

      # package.json
      # "version": 1.2.3 -> "version": 2.0.0
      # plugin.cfg
      # version="1.2.3" -> version="2.0.0"
      #
      # TIPS: `grep -v "^$"` is used to remove empty line.
      - name: Update files to version ${{ inputs.tag }}
        run: |
          expected="${{ inputs.tag }}"
          while read -r file_path; do
            echo "Start $file_path"
            file_name=$(basename "$file_path")

            echo "::group::Before"
              cat "$file_path"
            echo "::endgroup::"

            echo "::group::Updating"
              if [[ "${file_name}" == "package.json" ]]; then
                # Unity
                sed -i -e "s/\(\"version\":\) \"\(.*\)\",/\1 \"${{ inputs.tag }}\",/" ${file_path}
              elif [[ "${file_name}" == "plugin.cfg" ]]; then
                # Godot
                sed -i -e "s/\(version=\)\"\(.*\)\"/\1\"${{ inputs.tag }}\"/" ${file_path}
              else
                echo "Unknown file name ${file_name} is specified."
                exit 1
              fi
            echo "::endgroup::"

            echo "::group::After"
              cat "$file_path"
            echo "::endgroup::"

            echo "::group::Validate Change"
              if [[ "${file_name}" == "package.json" ]]; then
                actual=$(grep "version" "$file_path" | cut -d ':' -f 2 | tr -d ',' | tr -d '"' | tr -d ' ')
              elif [[ "${file_name}" == "plugin.cfg" ]]; then
                actual=$(grep "version=" "$file_path" | cut -d '=' -f 2 | tr -d '"')
              fi

              if [[ "$actual" != "$expected" ]]; then
                echo "Failed. Path: $file_path, Expected: $expected, Actual: $actual"
                exit 1
              else
                echo "Success. Path: $file_path, Expected: $expected, Actual: $actual"
              fi
            echo "::endgroup::"
          done <<< $(echo "${{ inputs.file-path }}" | grep -v "^$")

      - name: Check update on git
        id: check_update
        run: git diff --exit-code || echo "changed=1" | tee -a "$GITHUB_OUTPUT"

      - name: Commit files
        id: commit
        if: ${{ steps.check_update.outputs.changed == '1' }}
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git commit -m "feat: Update package.json to ${{ inputs.tag }}" -a
          echo "sha=$(git rev-parse HEAD)" | tee -a "$GITHUB_OUTPUT"

      - name: Create Tag
        if: ${{ steps.check_update.outputs.changed == '1' && inputs.push-tag }}
        run: git tag ${{ inputs.tag }}

      - name: Push changes
        if: ${{ !inputs.dry-run && steps.check_update.outputs.changed == '1' }}
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ inputs.ref }}
          tags: ${{ inputs.push-tag }}

      - name: Push changes (dry-run)
        if: ${{ inputs.dry-run && steps.check_update.outputs.changed == '1' }}
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: "refs/heads/${{ steps.configure.outputs.branch-name }}"
          tags: false
          force: true
